
.footer {
  display: flex;
  background: #F4B919;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.logo {
  margin-left: 0.5rem;
}
