$baseColor: #242424;

$colors: (
  "primary": #1b1a1c,
  "secundary": #F4B919,
  "lightPrimary": #6f9bdd,
  "darkPrimary": #406db1,
  "gray": #757575,
  "white": #fff,
  "black": #242424,
);

$shadowBox: 4px 3px 2px 0px #a0a0a0;

@mixin gradient-bg {
  background: rgb(71,35,90);
  background: linear-gradient(90deg, rgba(71,35,90,1) 0%, rgba(46,36,91,1) 100%, rgba(46,36,91,1) 100%);
}


